/* 
    Perimary Color : 00bcd4
*/

.login-content{
    width:30%;
    margin: 15% auto;
    background-color: white;
    border:1px solid #00bcd4;    
    border-radius: 4px;
    box-shadow: 1px 1px 3px 1px #33333344;
    text-align: center;
}
.header-login{
    padding:1.4%;
    background-color:#00bcd4;
    height: 30px;
    color:white;
    line-height: 30px;
    font-size: 20px;
}
.form-login{
    padding:2%;
}
.field{
    display: block;
    width: 85%;
    height: 25px;
    margin: 9px auto;
    border-radius: 4px;
    border: none;
    background-color: rgb(234, 234, 234);
    color: #333;
    padding: 4px 8px;
}
.btn-f{
    padding: 4px;
    width: 53%;
    height: 35px;
    color: white;
    border: 1px solid #fff;
    background: #00bcd4;
}
/* 
.login-title{
    color:white;
    margin:20px auto;
    font-size: 34px;
    text-align: center;
} */